@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.jumbotron {
    background-image: url(../img/1.-Cyberpunk2077_Ultimate_Edition_PC_Time_To_Get_To_Work-6713dcbddf63d90d29d8.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;;}

    .contenedor-2{
        display: flex; 
        align-items: left; 
      }
      
      image {
        width: 400px; 
        height: auto; }
      
      .texto {
        margin-left: 80px;
      color: white;}

      body{background-color: black;}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
  .jumbotron {
    height: 800px;
  }

  .contenedor-2 {
    flex-direction: row;
  }

  .image {
    width: 400px;
    height: auto;
  }

  .texto {
    margin-left: 80px;
  }
}

/* Estilos para pantallas medianas */
@media (max-width: 991px) {
  .jumbotron {
    height: 600px;
  }

  .contenedor-2 {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 300px;
    height: auto;
  }

  .texto {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 573.75px) {
  .jumbotron {
    height: 807.50px;
  }

  .image {
    width: 250px;
  }
}


        /iconos del footer/
.iconsFooter {
    align-items: center;
    display: flex;
    justify-content: center;
}